body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto Condensed', sans-serif;
}

svg {
  width: 100%;
  height: 100%;
}

#board-container {
  height: 100%;
  width: 100%;
}

#fixed-menu {
  position: fixed;
  display:inline-block;
  min-width: 300px;
  padding: 15px;
  background:rgba(240,241,244,0.8);
  backdrop-filter: blur(20px);
  border: 1px solid #a7adb3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 1s;
}

#fixed-menu.hidden {
  transform: translateX(-100%);
}

#toggle-menu {
  position:absolute;
  right: 0;
  transform: translateX(100%);
  background: inherit;
  border: inherit;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 5px;
}

label {
  display: block;
  font-size: 18px;
  margin: 2px;
}

.dropdown select{
  background:transparent;
  font-size:1.2em;
  font-weight:400;
  color:#fff;
  line-height: 1;
  width: 100%;
  border: 0;
  border-radius: 0;
  /*Hides the default arrows for Selects*/
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  position: relative;
}


.dropdown{
  left: 2px;
  overflow: hidden;
  background: no-repeat right DodgerBlue;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  border-radius: 4px;
  padding: 5px;
}

.dropdown {
  position: relative;
}

.dropdown:before {
  content: "";
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}


select > option {
  background: #D3D3D3;
  color: black;
}

button {
  font-size: 24px;
  font-family: inherit;
}

@media only screen and (max-width:515px) {
  button {
    font-size: 6vw;
  }
}

button.internal {
  margin: 2px;
  display:block;
  width: 100%;
}

rect {
  stroke: #ADAFB9;
  stroke-width: 1;
}

rect.clear {
  fill: #CDCFD9;
}

rect.filled {
  fill: #727277;
}

rect.start {
  fill: #4fa476;
}

rect.end {
  fill: #f3392c;
}

rect.queued {
  fill: #6e91bd;
}

rect.traversed {
  fill: #95c3fd;
}

rect.path {
  fill: #ECC46B;
}

rect.traversed, rect.filled {
  transition: fill .5s;
}

rect.path {
  transition: fill 1s;
}

rect.clear {
  transition: fill .15s;
}

rect.start, rect.end, rect.queued {
  transition: fill .02s;
}
