body {
  margin: 0;
  height: 100vh;
}

svg {
  width: 100%;
  height: 100%;
}

#board-container {
  height: 100%;
  width: 100%;
}

#fixed-menu {
  position: fixed;
  display:inline-block;
  padding: 15px;
  background:rgba(240,241,244,0.8);
  backdrop-filter: blur(20px);
  border: 1px solid #a7adb3;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: transform 1s;
}

#fixed-menu.hidden {
  transform: translateX(-100%);
}

#toggle-menu {
  position:absolute;
  right: 0;
  transform: translateX(100%);
  background: inherit;
  border: inherit;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 5px;
}

button {
  font-size: 24px;
}

@media only screen and (max-width:515px) {
  button {
    font-size: 6vw;
  }
}

button.internal {
  margin: 2px;
  display:block;
  width: 100%;
}

rect {
  stroke: #ADAFB9;
  stroke-width: 1;
}

rect.clear {
  fill: #CDCFD9;
}

rect.filled {
  fill: #727277;
}

rect.start {
  fill: #4fa476;
}

rect.end {
  fill: #f3392c;
}

rect.queued {
  fill: #6e91bd;
}

rect.traversed {
  fill: #95c3fd;
}

rect.path {
  fill: #ECC46B;
}

rect.traversed, rect.filled {
  transition: fill .5s;
}

rect.path {
  transition: fill 1s;
}

rect.clear, rect.queued {
  transition: fill .15s;
}

rect.start, rect.end {
  transition: fill .02s;
}
