<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css"/>
  <script src="js/tile.js"></script>
  <script src="js/board.js"></script>
  <script src="js/queue.js"></script>
  <script src="js/algorithms.js"></script>
  <script src="js/ui.js"></script>
  <script src="js/main.js"></script>
  <script src="https://kit.fontawesome.com/4e04d1a28a.js" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{ content }}
</body>
</html>
